/*DOM*/
body {
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	font-family: "Helvetica";
	font-weight: 700;
}
header {
	margin:0;
	padding: 0;
}
/*CLASS*/
.container {
	display:flex;
	flex:1;
	background-color: white;
}
.frame {
	background-color: orange;
	display: inline-flex;
	flex-flow: column;
	margin:0;
	padding: 0;
	height: 100vh;
	width: -webkit-fill-available;
}
/*ID*/

/*MULTIS*/